# OS-specific files
.DS_Store
Thumbs.db

# Node / package managers
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor / IDE settings
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Environment files
.env
.env.*

# Hugo build output

